@{
    ViewBag.Title = "Public Access";
}

<div class="jumbotron">
    <h1>Public Access</h1>
    <p class="lead">Our mission is to make art more accessible and bring you an experience like no other. As a supporter you will change the world by giving the gift of art and enable people to live a more fulfilled life.[PH1]</p>
    <p><a href="#" class="btn btn-primary btn-lg">Donate Now</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reserve a ticket</h2>
        <p>
            Please check our calendar regularly to reserver your ticket. [PH2]
        </p>
        <p><a class="btn btn-primary" href="#">Reserve Ticket</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support Public Access</h2>
        <p>We encourage you to be a sustainer and make small amounts of monthly donations.[PH3]</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>We make arrangments with theatres to acquire all tickets and then offer them to you for free. How awesome is that? [PH4]</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>